@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Zilla+Slab:wght@300&display=swap');

.site{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar{
    width: 6px;
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
    background: rgb(61, 28, 88);
    border-radius: 15px;
}

#canvas-image-blending {
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
}

header{
    margin-bottom: 2.3%;
}

#background-body{
    background: linear-gradient(to bottom right,#0d131d, #171f36, #8894d1) ; 
}

.menu ul{
    z-index: 1;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
}

.menu ul{
    display: flex;
}

.menu ul li {
    display: flex;
    margin: 0 20px;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}


/* ANIMAÇÃO MENU */

.btn{
    padding: 10px 15px;
    position: relative;
    overflow: hidden;
    
    

}

.btn:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        border-radius: 10px;

        width: 100%;
        height: 100%;
        z-index: -1;
        
        background-color: rgba(255,255,255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        transition: .7s ease;
        
}

.btn1:before{
    width: 0;
    height: 100%;
}

.btn1:hover:before{
    width: 100%;
    height: 100%;
}

/* NOME */

.nome h1{
    color: #fff;
    font-size: 3em;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 15% ;
}


.nome h2{
    color: #fff;
    font-size: 2.5em;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 3% ;
}

.redes-sociais{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.redes-sociais a{
    margin: 0 1%;
}

/* CONHECIMENTOS */

.conhecimentos{
  padding-top: 5%;
  padding-bottom: 5%;
}

.titulo{
    font-size: 2em;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
   color: #fff;
}

.titulo::before{
    content: '';
    flex: 1;
    height: 1px;
    background: #ffffff;
    margin-right: 2%;
    margin-top: 1.5%;
    max-width: 200px;
    }

   .titulo::after{
    content: '';
    flex: 1;
    height: 1px;
    background: #ffffff;
    margin-left: 2%;
    margin-top: 1.5%;
    max-width: 200px;
    }


.conteudo p{
    text-align: justify;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    max-width: 250PX;
    margin: 0 10%;
    color: #ccc;
}



.conteudo h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: #ccc;
}



.conhecimentos article{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.conhecimentos article div{
    margin: 0 3%;
}



.conteudo{
    margin: 0 5%;
    padding-bottom: 20px;
    border-radius: 40px;
}

.conteudo img{
    margin: 10% 73px;
}

.sombra{
    background: linear-gradient(to bottom right,#07090E, #111825, #432866) ; 
    -webkit-box-shadow:29px 29px 29px 10px rgba(0, 0, 0, 0.932);
    -moz-box-shadow: 29px 29px 29px 10px rgba(0,0,0,0.932);
    box-shadow: 29px 29px 29px 10px rgba(0,0,0,0.932);
}

.sobre{
    padding: 5% 0;
}

.sobre div{
    max-width: 80%;
    margin-top: 5%;
    background: linear-gradient(to bottom right,#07090E, #111825, #432866) ; 
    -webkit-box-shadow:29px 29px 29px 10px rgba(0, 0, 0, 0.932);
    -moz-box-shadow: 29px 29px 29px 10px rgba(0,0,0,0.932);
    box-shadow: 29px 29px 29px 10px rgba(0,0,0,0.932);
    padding: 5% 3%;
    border-radius: 40px;
}

.sobre p{
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

.projetos{
    padding: 5% 0;
}

